WANTED_COOKIE=여기에_쿠키_붙여넣기
WANTED_USER_ID=여기에_user_id_입력
DB_URL=mysql+mysqlconnector://root:1234@localhost:3306/demo

# Remember (선택)
REMEMBER_COOKIE=여기에_쿠키_붙여넣기
REMEMBER_AUTH_TOKEN=여기에_Token_값_입력  # Authorization: Token token=xxx 에서 xxx 부분
